# INDEXER — APP-SPECIFIC ENVIRONMENT VARIABLES

# Network
CHAIN_ID=YourChainId
RPC_URL=YourSepoliaRpcUrl

# Contract
CONTRACT_ADDRESS=0xYourContractAddressHere
CONTRACT_DEPLOY_BLOCK=BlockNumber

# Database
DATABASE_URL=YourDatabaseUrl